.register {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
min-height: calc(100vh - 74px); 
background-color: #000; 
color: #fff;
padding-top: 60px;
}

.register__title {
padding-bottom: 20px;
font-family: Inter;
font-weight: 900;
font-size: 24px;
line-height: 100%;
text-align: center;
}

.register__form {
display: flex;
flex-direction: column;
width: 358px;
}

.register__input {
height: 27px;
max-width: 358px;
margin-top: 30px;
border: none;
border-bottom: 1px gray solid;
background-color: #000;
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: white;
line-height: 100%;
letter-spacing: 0%;



}

.register__input::placeholder {
font-family: Inter;
font-weight: 400;
font-size: 14px;
color: #CCCCCC;
line-height: 100%;
letter-spacing: 0%;

}

.register__button {
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

margin-top: 216px;
background-color: #fff;
color: #000;
border: none;
border-radius: 2px;
padding: 14px;
font-size: 16px;
font-weight: 500;
}

.register__text {
  color: white;
font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.register__link {
  color: white;
font-family: Inter;
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
letter-spacing: 0%;
text-align: center;

}


